body {
  background-color: rgb(241, 238, 238);
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  height: 100%;
}
main {
  background: #00aeff;
  height: 50rem;
  margin-top: 3rem;
  box-shadow: 0.1rem 0.1rem 0.7rem rgb(192, 191, 191);
}

span {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "work san", sans-serif;
}
.headprops {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.mainbody {
  background-image: url(/Background.png);
  height: 50rem;
  width: 65rem;
  margin-left: 2rem;
  top: 0px;
}
.solo-body {
  margin-top: 0px;
  padding: 5rem 3rem 3rem 5rem;
  box-shadow: 2rem;
}
h4 {
  color: #00aeff;
  font-size: 1.5rem;
}

h3 {
  /* text-align: center; */
  font-family: "work", sans-serif;
  text-transform: capitalize;
  margin-top: 9rem;
  font-size: 2rem;
  font-weight: normal;
}
h1 {
  font-family: "Work Sans", sans-serif;
  font-size: 4rem;
  margin-top: 2.5rem;
}
p {
  color: black;
  font-family: Raleway;
  font-weight: normal;
  font-size: 1rem;
  line-height: 30px;
  margin-top: -1rem;
}
.last-p {
  margin-top: -0.1rem;
  font-size: 1rem;
  font-weight: 600;
}
img {
  height: 2rem;
}
.sign {
  height: 6rem;
}
a {
  color: rgb(156, 156, 156);
  text-decoration: none;
}

.foots {
  margin-top: 4rem;
}

@media only screen and (max-width: 768px) {
  main {
    height: 48rem;
    margin: 1.3rem;
  }
  .mainbody {
    width: 30rem;
    height: 48rem;
  }
  .solo-body {
    padding: 2.5rem 1.5rem 1.5rem 2.5rem;
  }
  h1 {
    font-size: 3rem;
    height: 2rem;
    margin-bottom: 4rem;
  }
  h3 {
    margin-top: 5rem;
  }
}
